*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica';
}

body{
    background: linear-gradient(to right, #36b04a, #1081cc);
}

.titulo-general{
    text-align: center;
    margin-top: 50px;
}

.contenedor-general{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    margin: auto;
    margin-top: 70px;
    border-radius: 8px;
    border: 1px solid black;
    height: 350px;
    background-color: #3ea787;
}

.contenedor-izquierdo{
    display: grid;
    font-weight: bold;
    width: 90%;
    text-align: center;
    margin: auto;
}

.parrafo{
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.contenedor-derecho{
    display: grid;
    font-weight: bold;
    width: 90%;
    text-align: center;
    margin: auto;
}

.boton{
    display: grid;
    background: #2196f3;
    color: #000;
    text-transform: uppercase;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    height: 25px;
    border-radius: 10px;
    border: 2px solid black;
    width: 80%;
    margin: auto;
}

    
   
    
    
    
    